config.stopBubbling = true

lombok.singular.useGuava = false
lombok.addLombokGeneratedAnnotation = true
lombok.fieldDefaults.defaultPrivate = true
lombok.anyConstructor.addConstructorProperties = true

lombok.accessors.fluent = true

lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
